JWT_SECRET_KEY=
JWT_REFRESH_TOKEN_SECRET_KEY=
FLASK_SECRET_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:5000/api/auth/github
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=http://localhost:5000/api/auth/discord
GOOGLE_CS_API_KEY=
GOOGLE_CS_ID=
OPENROUTER_API_KEY=
URL=http://localhost
VITE_API_URL=http://localhost:5000
VITE_ADMIN_USERNAME=
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=