.register-button-show-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%) !important;
    background: transparent !important;
    border: none !important;
    color: #b6b6b6 !important;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease !important;
    box-shadow: none !important;
}

.register-button-show-password:active {
    transition: color 0.2s ease !important;
    transform: translateY(-50%) !important;
    box-shadow: none !important;
}

.register-button-show-password:disabled:hover {
    color: #b6b6b6 !important;
    box-shadow: none !important;
}

.register-button-show-password:hover {
    background: transparent !important;
    color: #ffffff !important;
    transition: color 0.2s ease !important;
    transform: translateY(-50%) !important;
    box-shadow: none !important;
}

.register-error-text,
.register-error-text2 {
    color: rgb(255, 95, 95);
    margin-bottom: 10px;
}