.MuiSlider-thumb {
    background-color: #6496FF;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.MuiSlider-thumb:hover {
    background-color: #6797ff;
    border: 1px solid #1946a6;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.MuiSlider-rail {
    background-color: #e0e0e0;
}

.MuiSlider-track {
    background-color: #76a9ff;
    transition: background-color 0.2s ease;
}

.MuiSlider-valueLabel {
    font-size: 0.9em !important;
  }

@media (max-width: 1262px) {
    .MuiSlider-thumb {
        width: 25px !important;
        height: 25px !important;
    }

    .MuiSlider-track {
        height: 10px !important;
    }

    .MuiSlider-valueLabel {
        font-size: 1.2em !important;
      }
}